
mixin card-1(src)
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  a.item.card-1(href="")
    .thumb(style='background-image: url('+ src +')')
    .info
      p Sarunyoo Reangmunjit
      p.text-medium MTL Customer
      .desc The difference with MTL is just how easy everything is. Health insurance can be so confusing and stressful and MTL it just takes all that away.

mixin card-2(src)
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  .item.card-2(href="")
    +link().thumb-wrap
      span.thumb(style='background-image: url('+ src +')')
    .info
      .group-card-label
        .card-label.blue OPD
        .card-label.pink IPD
      h4.title
        +link('Muangthai Happy Lady Plus')
      
      p.text-smaller Maximum coverage 375,000 THB / Year
      .group-card-label
        span.card-label Security
        span.card-label Worry less
        span.card-label Convenient


mixin card-3(src, title , content )
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  - if (typeof(title) === 'undefined') title = 'No more to worry about requesting for tax deduction.'
  - if (typeof(content) === 'undefined') content = 'Get the documents of personal income tax deductions From health insurance premiums From tax year 2018 onwards'

  .inner-container
    .row.no-gutters.item.card-3&attributes(attributes)
      .col-md-6
        .caption
          h2.title-main-3 #{title}
          .desc #{content}
          .group-inline
            +link('Request the document').btn-white
      .col-md-6
        .thumb(style="background-image: url("+src+")")

mixin card-3-style-2(src, title , content )
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  - if (typeof(title) === 'undefined') title = 'No more to worry about requesting for tax deduction.'
  - if (typeof(content) === 'undefined') content = 'Get the documents of personal income tax deductions From health insurance premiums From tax year 2018 onwards'

  .inner-container
    .row.no-gutters.item.card-3&attributes(attributes)
      .col-md-6
        .caption
          h2.title-main-3 #{title}
          .desc.mt-5 #{content}
        .group-inline
          +link('Download').btn-primary(target="_blank")
          +link-icon('icon-share', 'Share').btn-secondary
      .col-md-6
        .thumb(style="background-image: url("+src+")")

mixin card-full(src, title , content )
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-8.jpg'
  - if (typeof(title) === 'undefined') title = 'Smart & Simple Application'
  - if (typeof(content) === 'undefined') content = "We've here for you. We're available on your Smile Plus app to help."

  .card-full(style="background-image: url("+src+")")&attributes(attributes)
    .inner-container
      .caption
        h2.title-main-2 #{title}
        .desc.mt-5 #{content}
      .group-inline.mt-5
        +link-img('images/apple-store.png').app-store
        +link-img('images/play-store.png').app-store


mixin card-media(src)
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  .item.card-2
    +link().thumb-wrap
      span.thumb(style='background-image: url('+ src +')')
    .info
      p.publish-time
        span 07 March 2019
        span 8 min read
      h4.title
        +link('MCMOs to double down on Marketing Analytics')
      .desc Spending on marketing analytics is forecast to increase by more than 200% in the next three years, according to the most recent CMO Survey from Duke University's Fuqua School of Business and supported by Deloitte and the American Marketing.
      p.publish-time.bigger
        span Go deeper
        span 5 min read

mixin card-media-small(src)
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  .item.card-2
    +link().thumb-wrap
      span.thumb(style='background-image: url('+ src +')')
    .info
      h4.title
        +link('Tourism Australia CMO Lisa Ronson jumps aisle to Coles')
      p.publish-time
        span 07 March 2019
        span 8 min read
      

mixin card-media-preview(src, category)
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-large-3.jpg'
  .item.card-2.no-wrap
    p.sub-title(class=category) The Deep Dive
    h4.title Machine automation in media + marketing 65% done by 2025 - what next?
    .thumb-wrap
      span.thumb(style='background-image: url('+ src +')')
    .info
      //- p.publish-time
      //-   span 07 March 2019
      //-   span 8 min read
      .desc
        strong Futureshock:
        | Up to 95% of all media transactions will be informed by machine intelligence and just 25% will remain relationship and ideas based by 2025. Should we expect radical changes now to job numbers, skillsets and business processes in an automated media supply chain?
      p.publish-time.bigger
        span Go deeper
        span 5 min read